@model IEnumerable<ST10443542_CLDV6211_POE.Models.Booking>

    <h2>Bookings</h2>
    <p><a asp-action="Create">Create New</a></p>

    <table>
        @foreach (var item in Model)
{
        <tr>
            <td>@item.BookingDate.ToShortDateString()</td>
            <td>@item.Event?.EventName</td>
            <td>@item.Venue?.VenueName</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookingId">Delete</a>
            </td>
        </tr>
}
    </table>
